.ui.main.text.container
  %br
  %h1.ui.header
    Asset manager of Shibuya project
  %h3
    Current Status
  %hr
  %h3
    = "#{Map.count} Maps"
  %h3
    = "#{Mapobject.count} Mapobjects"
  %h3
    = "#{Serif.count} Serifs"

