.container(role="main")
  %h4
    serifs

  %a.btn.btn-info{"data-toggle" => "modal", "data-target" => "#sby-serif-create-modal"}
    Create New Serif

  %table.table
    %thead
      %tr
        %th id
        %th text
        %th date
        %th
        %th
    %tbody
      - @serifs.each do |serif|
        %tr
          %td
            = serif.id
          %td
            = serif.text
          %td
            = l(serif.created_at, format: :long)
          %td
            %a.btn.btn-success{"data-serif-id" => "#{serif.id}", "data-text" => "#{serif.text}", "data-toggle" => "modal", "data-target" => "#sby-serif-edit-modal"}
              edit
          %td
            = link_to 'delete', serif_path(serif.id), class: "btn btn-danger", id: "sby-serif" , remote: true, method: :delete, data: { confirm: 'Delete OK?' }


/ TODO DRY
.modal#sby-serif-edit-modal
  .modal-dialog.modal-lg(role="document")
    .modal-content(style="padding:20px")
      %h3
        Edit Serif

      = form_tag serifs_path, method: :put, id: "sby-serif-form" do |f|
        .row
          .col-md-12
            .form-group
              = label_tag :text
              = text_field_tag :text, nil, id: "sby-serif-edit-text", placeholder: 'Input Serif Name', class: 'form-control'
        .row
          .col-md-12
            = submit_tag 'submit', class: 'btn btn-info', data: { disable_with: "submitting..." }


/ TODO DRY
.modal#sby-serif-create-modal
  .modal-dialog.modal-lg(role="document")
    .modal-content(style="padding:20px")
      %h3
        Create New Serif

      = form_tag serifs_path, method: :post do |f|
        .row
          .col-md-12
            .form-group
              = label_tag :text
              = text_field_tag :text, nil, placeholder: 'Input Serif Name', class: 'form-control'
        .row
          .col-md-12
            = submit_tag 'submit', class: 'btn btn-info', data: { disable_with: "submitting..." }


:javascript
  new Serifs();
