.container(role="main")
  %h4
    mapobjects
  %a.btn.btn-info#sby-mapobject-create-button{ "data-toggle" => "modal", "data-target" => "#sby-mapobject-create-modal"}
    Create New MapObject
  %table.table
    %thead
      %tr
        %th id
        %th name
        %th movable
        %th talkable
        %th date
        %th
        %th
        %th
    %tbody
      - @mapobjects.each do |mapobj|
        %tr
          %td.col-md-1
            = mapobj.id
          %td.col-md-4
            = mapobj.name
          %td.col-md-1
            = mapobj.movable
          %td.col-md-1
            = mapobj.talkable
          %td.col-md-2
            = l(mapobj.created_at, format: :long)
          %td.col-md-1
            %a.btn.btn-success{"data-name" => "#{mapobj.name}", "data-mapobject-id" => "#{mapobj.id}", "data-movable" => "#{mapobj.movable}", "data-talkable" => "#{mapobj.talkable}", "data-toggle" => "modal", "data-target" => "#sby-mapobject-edit-modal"}
              edit
          %td.col-md-1
            = link_to 'delete', mapobject_path(mapobj.id), class: "btn btn-danger", id: "sby-mapobject" , remote: true, method: :delete, data: { confirm: 'Delete OK?' }
          %td.col-md-1
            %a.btn.btn-default
              preview

/ TODO DRY
.modal#sby-mapobject-edit-modal
  .modal-dialog.modal-lg(role="document")
    .modal-content(style="padding:20px")
      %h3
        Edit Mapobject

      = form_tag mapobjects_path, method: :put, id: "sby-mapobject-form" do |f|
        .row
          .col-md-12
            .form-group
              = label_tag :name
              = text_field_tag :name, nil, id: "sby-mapobject-edit-name", placeholder: 'Input Mapobject Name', class: 'form-control'
        .row
          .col-md-6
            .form-group
              = label_tag :talkable
              = select_tag :talkable, options_for_select([true, false]), id: "sby-mapobject-talkable", class: 'form-control', default: 20

          .col-md-6
            .form-group
              = label_tag :movable
              = select_tag :movable, options_for_select([true, false]), id: "sby-mapobject-movable", class: 'form-control', default: 20
        / TODO: Talkableだったら有効
        .row
          .col-md-12
            .form-group
              = label_tag :image
              = select_tag :image, options_for_select(["[stub] not implmenet"]), class:'form-control', default: 20

        .row
          .col-md-12
            .form-group
              = label_tag :serif
              = select_tag :serif, options_for_select(["[stub] not implmenet"]), class:'form-control', default: 20


        .row
          .col-md-12
            = submit_tag 'submit', class: 'btn btn-info', data: { disable_with: "submitting..." }


/ TODO DRY
.modal#sby-mapobject-create-modal
  .modal-dialog.modal-lg(role="document")
    .modal-content(style="padding:20px")
      %h3
        Create New Mapobject

      = form_tag mapobjects_path, method: :post do |f|
        .row
          .col-md-12
            .form-group
              = label_tag :name
              = text_field_tag :name, nil, placeholder: 'Input Mapobject Name', class: 'form-control'
        .row
          .col-md-6
            .form-group
              = label_tag :talkable
              = select_tag :talkable, options_for_select([true, false]), id: "sby-mapobject-talkable", class: 'form-control', default: 20

          .col-md-6
            .form-group
              = label_tag :movable
              = select_tag :movable, options_for_select([true, false]), id: "sby-mapobject-movable", class: 'form-control', default: 20


        .row
          .col-md-12
            = submit_tag 'submit', class: 'btn btn-info', data: { disable_with: "submitting..." }


:javascript
  new Mapobjects();
