.container(role="main")
  %h4
    Image Upload
  %a.btn.btn-info#sby-image-create-button{ "data-toggle" => "modal", "data-target" => "#sby-image-create-modal"}
    Create New Image

  %table.table
    %thead
      %tr
        %th id
        %th image
        %th width
        %th height
        %th
        %th
        %th
    %tbody
      - @images.each do |elem|
        %tr
          %td.col-md-1
            = elem.id
          %td.col-md-1
            = image_tag elem.image_url, style: "width: 32px"
          %td.col-md-3
            = elem.width
          %td.col-md-1
            = elem.height
          %td.col-md-1
            /%a.btn.btn-success{ "data-height-tiles" => "#{image.height_tiles}", "data-width-tiles" => "#{image.width_tiles}", "data-name" => "#{image.name}", "data-image-id" => "#{image.id}", "data-toggle" => "modal", "data-target" => "#sby-image-edit-modal"}
            edit
          %td.col-md-1
            /= link_to 'delete', image_path(image.id), class: "btn btn-danger", id: "sby-image" , remote: true, method: :delete, data: { confirm: 'Delete OK?' }
          %td.col-md-1
            %a.btn.btn-default
              preview

/ TODO DRY
.modal#sby-image-create-modal
  .modal-dialog.modal-lg(role="document")
    .modal-content(style="padding:20px")
      %h3
        Upload New Image

      = form_tag images_path, multipart: true, method: :post do |f|
        .row
          .col-md-12
            / photo
            .form-group
              = label_tag :image
              = file_field_tag :image, accept: 'image/png'
        .row
          .col-md-12
            = submit_tag 'submit', class: 'btn btn-info', data: { disable_with: "submitting..." }



